docker_run_0.sh
docker_run_1.sh
start_jupyter.sh
train.sh
ELAN-out/
ELAN-annotation/
raw_dataset_captarlibras/
json_annotations/
ELAN/*.csv
!ELAN/groundtruth.csv
split/*.csv
background_tests/*
video_by_signal/*
wer/*
./wer/config.yaml
output.txt
tests_inferences/*
data_aug_tests/*
inferences/*
!work_dir/extract_log.py
